* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
 }
.bg {
  position: static;
  font-size: 0;
}
.image {
  position: relative;
  max-width: 100%;
  max-height: 100%;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}